<p>I am a research scientist at the <a href="http://www.sktelecom.com/" target="_blank">SK Telecom</a> Data R&D Center.
Previously, I was in the <a href="http://data.snu.ac.kr/" target="_blank">Data Science Laboratory</a> supervised by Professor Sungroh Yoon.
My research interests lie in representation learning, and I examined a methodology unifying deep learning and manifold learning in my dissertation.
I am recently interested in deep learning for anomaly detection and have a technical <a href="https://taehoonlee.me/" target="_blank">blog</a> where I share my experience and thoughts about engineering. Also, I have been contributing to some open source projects including <a href="https://github.com/keras-team/keras/graphs/contributors" target="_blank">Keras</a> and <a href="https://github.com/tensorflow/tensorflow/graphs/contributors" target="_blank">TensorFlow</a>.
</p>
