<p>I am a machine learning researcher at the <a href="http://www.sktelecom.com/" target="_blank">SK Telecom</a> Corporate R&D Center.
Previously, I was in the <a href="http://data.snu.ac.kr/" target="_blank">Data Science Laboratory</a> supervised by Professor Sungroh Yoon.
My research interests lie in representation learning, and I examined a methodology unifying deep learning and manifold learning in my dissertation.
I am recently interested in deep learning for anomaly detection and have a technical <a href="https://taehoonlee.me/" target="_blank">blog</a> where I share my experience and thoughts about engineering.
</p>
