<ul class="list">
<li style="text-align:center;">
<div id="github-graph"></div>
</li>
<li><p></li>
<li>
<b>Contributing to popular projects</b><br />
<span class="small">May 2017 - Current<br />
<a href="https://github.com/keras-team/keras/graphs/contributors" target="_blank">Keras (Committer and Top 3 Contributor)</a>, <a href="https://github.com/tensorflow/tensorflow/graphs/contributors" target="_blank">TensorFlow</a>, <a href="https://api.github.com/repos/scikit-learn/scikit-learn/contributors?page=4" target="_blank">scikit-learn</a>, <a href="https://api.github.com/repos/matplotlib/matplotlib/contributors?page=4" target="_blank">Matplotlib</a></span>
</li>
<li>
<b>TensorNets</b><br />
<span class="small">High level network definitions with pre-trained weights in TensorFlow. <br />
<i>Python</i>, 2017. <a href="https://github.com/taehoonlee/tensornets" target="_blank">[link]</a></span>
</li>
<li>
<b>HiComet</b><br />
<span class="small">The official web server implementation for A High-Throughput Comet Analysis Tool for Large-Scale DNA Damage Assessment. <br />
<i>MATLAB and JavaScript</i>, 2017. <a href="https://github.com/taehoonlee/hicomet" target="_blank">[link]</a></span>
</li>
<li>
<b>RMCA</b><br />
<span class="small">The official implementation for Regularization and Kernelization of the Maximin Correlation Approach. <br />
<i>MATLAB</i>, 2016. <a href="https://github.com/taehoonlee/rmca" target="_blank">[link]</a></span>
</li>
<li>
<b>easyDL</b><br />
<span class="small">EasyDL supports various deep learning model variants. You can easily configure parameters of all layers with a model signature. <br />
<i>MATLAB</i>, 2015. <a href="https://github.com/taehoonlee/easydl" target="_blank">[link]</a></span>
</li>
<li>
<b>taehoonlee/caffe</b><br />
<span class="small">Caffe is one of the most popular deep learning frameworks. I added here new forward-backward steps and customized several layers for adversarial training and manifold regularization. <br />
<i>C++ and CUDA</i>, 2015. <a href="https://github.com/taehoonlee/caffe" target="_blank">[link]</a></span>
</li>
</ul>
