<ul class="list">
<li>
<b>Classification of Car Environment and Internal Car Data</b><br />
Nov 2015 - Apr 2016 with <i>Hyundai Motor Group (Data Analytics 1 Team)</i><br />
<span class="small">keywords: time series, multi modal learning, recurrent neural networks, tensorflow</span>
</li>
<li>
<b>Classification of Overhead Console Signals using Convolutional Neural Networks</b><br />
Aug 2015 - Mar 2016 with <i>Hyundai Motor Group (Vecture Technology Development Team)</i><br />
<span class="small">keywords: time series, spectrogram, convolutional neural networks, matlab</span>
</li>
<li>
<b>easyDL: Easy and fast deep learning in MATLAB</b><br />
2015<br />
<span class="small">EasyDL supports various deep learning model variants. You can easily configure parameters of all layers with a model signature. <a href="https://github.com/taehoonlee/easyDL" target="_blank">[link]</a></span>
</li>
<li>
<b>taehoonlee/caffe</b><br />
2015<br />
<span class="small">Caffe is one of the most popular deep learning frameworks. I added here new forward-backward steps and customized several layers for adversarial training and manifold regularization. <a href="https://github.com/taehoonlee/caffe" target="_blank">[link]</a></span>
</li>
<li>
<b>Development of Ontology Based Framework and Heterogeneous Bigdata Models for Personalized Medicine</b><br />
Jun 2015 - Feb 2016 with <i>National Research Foundation</i><br />
<span class="small">keywords: biomedical imaging, genetic analysis, personalized medicine</span>
</li>
<li>
<b>Biomedical Signal Processing for ICT Convergence:<br />
Anomaly Detection and Sequence Classification with Recurrent Neural Networks</b><br />
Mar 2015 - Feb 2016 with <i>Samsung Advanced Institute of Technology</i><br />
<span class="small">keywords: anomaly detection, sequence classification, recurrent neural networks, tensorflow, keras</span>
</li>
<li>
<b>Human-Level Lifelong Machine Learning</b><br />
Mar 2014 - Feb 2015 with <i>Ministry of Science, ICT, and Future Planning</i><br />
<span class="small">keywords: deep learning, parallel computing</span>
</li>
<li>
<b>Biomedical Signal Processing for ICT Convergence:<br />
High-Dimensional Clustering and Visualization of Representations from Deep Learning</b><br />
Mar 2014 - Feb 2015 with <i>Samsung Advanced Institute of Technology</i><br />
<span class="small">keywords: deep learning, convolutional neural networks, visualization, python, caffe</span>
</li>
<li>
<b>Medical Imaging for Diagnosis of Cerebral Palsy, Bone Age Estimation, and Multiple Epiphyseal Dysplasia</b><br />
Jul 2013 - Jun 2014 with <i>Seoul National University Bundang Hospital (Department of Orthopaedic Surgery)</i><br />
<span class="small">keywords: medical imaging, deep learning, dictionary learning, classification, matlab</span>
</li>
<li>
<b>Biomedical Signal Processing for ICT Convergence:<br />
CAD for Diagnosing Cancer based on Medical Imaging and Genomic analysis</b><br />
Mar 2013 - Feb 2014 with <i>Samsung Advanced Institute of Technology</i><br />
<span class="small">keywords: medical imaging, segmentation, matlab</span>
</li>
</ul>
