<ul class="list">
<li>
<b>Taehoon Lee</b> et al.<br />
"HiComet: High-Throughput Comet Analysis Tool for Large-Scale DNA Damage Assessment Studies"<br />
<span class="small"><i>under review</i>.</span>
</li>
<li>
<b>Taehoon Lee</b>, Joong-Ho Won, Johan Lim, and Sungroh Yoon<br />
"Large-scale Structured Sparsity via Parallel Fused Lasso on Multiple GPUs"<br />
<span class="small"><i>Journal of Computational and Graphical Statistics</i>, in press.</span>
</li>
<li>
<b>Taehoon Lee</b>, Taesup Moon, Seung Jean Kim, and Sungroh Yoon<br />
"Regularization and Kernelization of the Maximin Correlation Approach"<br />
<span class="small"><i>IEEE Access</i>, vol. 4, pp. 1385-1392, April 2016. <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7448814" target="_blank">[paper]</a> <a href="http://data.snu.ac.kr/rmca" target="_blank">[page]</a> <a href="https://github.com/taehoonlee/rmca" target="_blank">[code]</a></span>
</li>
<li>
Byunghan Lee, <b>Taehoon Lee</b>, Byunggook Na, and Sungroh Yoon<br />
"DNA-Level Splice Junction Prediction using Deep Recurrent Neural Networks"<br />
<span class="small">in <i>Proceedings of NIPS Workshop on Machine Learning in Computational Biology</i>, Montreal, Canada, December 2015. <a href="http://arxiv.org/abs/1512.05135" target="_blank">[paper]</a></span>
</li>
<li>
<b>Taehoon Lee</b>, Minsuk Choi, and Sungroh Yoon<br />
"Manifold Regularized Deep Neural Networks using Adversarial Examples"<br />
<span class="small"><i>arXiv:1511.06381 [cs.LG]</i>, November 2015. <a href="http://arxiv.org/abs/1511.06381" target="_blank">[paper]</a> <a href="https://github.com/taehoonlee/caffe" target="_blank">[code]</a></span>
</li>
<li>
Seungmyung Lee, Hanjoo Kim, Siqi Tan, <b>Taehoon Lee</b>, Sungroh Yoon, and Rhiju Das<br />
"Automated band annotation for RNA structure probing experiments with numerous capillary electrophoresis profiles"<br />
<span class="small"><i>Bioinformatics</i>, vol. 31, no. 17, pp. 2808-2815, September 2015. <a href="http://bioinformatics.oxfordjournals.org/content/31/17/2808.full.pdf+html" target="_blank">[paper]</a></span>
</li>
<li>
<b>Taehoon Lee</b> and Sungroh Yoon<br />
"Boosted Categorical Restricted Boltzmann Machine for Computational Prediction of Splice Junctions"<br />
<span class="small">in <i>Proceedings of International Conference on Machine Learning (ICML)</i>, Lille, France, July 2015. <a href="http://jmlr.org/proceedings/papers/v37/leeb15.pdf" target="_blank">[paper]</a> <a href="http://data.snu.ac.kr/pub/bcrbm" target="_blank">[page]</a> <a href="assets/slides/ICML_TaehoonLee_20150709.pdf" target="_blank">[slides]</a></span>
</li>
<li>
Donghyeon Yu, Joong-Ho Won, <b>Taehoon Lee</b>, Johan Lim, and Sungroh Yoon<br />
"High-dimensional Fused Lasso Regression using Majorization-Minimization and Parallel Processing"<br />
<span class="small"><i>Journal of Computational and Graphical Statistics</i>, vol. 24, no. 1, pp. 121-153, March 2015. <a href="http://www.tandfonline.com/doi/full/10.1080/10618600.2013.878662" target="_blank">[paper]</a></span>
</li>
<li>
<b>Taehoon Lee</b> et al.<br />
"Robust Classification of DNA Damage Patterns in Single Cell Gel Electrophoresis"<br />
<span class="small">in <i>Proceedings of International Conference of the IEEE Engineering in Medicine and Biology Society</i>, Osaka, Japan, July 2013. <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6610338" target="_blank">[paper]</a> <a href="assets/slides/poster_EMBC.pdf" target="_blank">[slides]</a></span>
</li>
</ul>
