<ul class="statistics">
<li class="style2">
<span class="icon fa-gears"></span>
<strong>Engineering</strong>
Scalable Machine Learning, Deep Learning, Statistical Learning, Parallel Computing, Bioinformatics
</li>
<li class="style3">
<span class="icon fa-laptop"></span>
<strong>Programming</strong>
Python, Matlab, C, C++, CUDA, Scala, Spark, Java, JavaScript, LaTeX, PHP, HTML, CSS, SQL, Shell, R, ASP, Rails
</li>
<li class="style4">
<span class="icon fa-photo"></span>
<strong>Miscellaneous</strong>
Photoshop, Illustrator, Premiere
</li>
</ul>
